@import "tailwindcss";

/* DaisyUI core */
@plugin "daisyui";

/* DaisyUI light theme (DEFAULT) */
@plugin "daisyui/theme" {
}



/* Swiper Navigation Buttons */
.swiper-button-next,
.swiper-button-prev {
  color: #FCAB35 !important;
  width: 32px !important;
  height: 32px !important;
}

/* Arrow icon size */
.swiper-button-next::after,
.swiper-button-prev::after {
  font-size: 16px !important;
  font-weight: 700;
}

/* Mobile */
@media (max-width: 640px) {
  .swiper-button-next,
  .swiper-button-prev {
    width: 26px !important;
    height: 26px !important;
  }

  .swiper-button-next::after,
  .swiper-button-prev::after {
    font-size: 13px !important;
  }
}
